*.?#[0-9#]
*.zip
*.GBL
*.GBO
*.GBP
*.GBS
*.GML
*.GTL
*.GTO
*.GTP
*.GTS
*.TXT
*.dri
*.gpi
*.pdf
*.pro
*.job
CAMOutputs
individuals/*.dxf
pcb/small/rcstick-f-small.dxf
outputs
.python-version
__pycache__
build
.vscode/ipch
outputs
outputs2
outputs-tiny
firmware/Src/version.c
